/* GENERAL STYLES */

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    min-width: fit-content;
}
.cf:before, .cf:after {
    display: table;
    content:'';
    clear: both;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

/***********************************************************************/
/* HEADER STYLES */
/***********************************************************************/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 10px 50px;
    background-color: rgb(219, 101, 101);
    z-index: 1;
}

header img {
    height: 100px;
    float: left;
}

/***********************************************************************/
/* main meny */
/***********************************************************************/

header nav {
    float: right;
    position: relative;
    margin-top: 15px;
}

header > nav > ul > li {
    float: left;
    height: 60px;
}

header > nav > ul > li > a {
    position: relative;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px;
}

header > nav > ul > li > a:after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    position: absolute;
    left: 0;
    top: -10px;
    background-color: #fff;
    transition: all .3s ease;
}

header > nav > ul > li > a:hover {
    color: #fff;
}

header > nav > ul > li > a:hover:after {
    width: 100%;
}

/***********************************************************************/
/* dropdown meny */
/***********************************************************************/

header > nav > ul li ul {
    display: none;
    position: absolute;
    top: 50px;
    background-color:  rgb(219, 101, 101);
    padding: 0;
    margin-left: 20px;
    margin-top: 25px;
}
header > nav > ul li:hover ul {
    display: block;
}
header > nav > ul > li ul li > a {
    color: #fff;
    text-transform: uppercase;
    line-height: 25px;
}

/***********************************************************************/
/* BANNER PHOTO STYLES */
/***********************************************************************/

.main_banner {
    width: 100%;
    margin-top: 100px;
}

/***********************************************************************/
/* MAIN AREA STYLES */
/***********************************************************************/

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
main article {
    float: left;
    width: 32%;
    margin-right: 2%;
    position: relative;
}
main article img {
    width: 100%;
}
article p {
    text-align: center;
}
.price {
    position: absolute;
    top: 50px;
    left: 100px;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(119, 22, 90);
    padding: 5px;
}

/***********************************************************************/
/*FORM */
/***********************************************************************/

main form {
    text-align: center;
    margin: 50px auto;
    max-width: 406px;
    border: 3px solid rgb(219, 101, 101);
    border-radius: 15px;
}
main form label {
    float: left;
    width: 200px;
}
main form label input, 
main form label select {
    width: 150px;
    text-align-last: center;
    padding: 5px;
    border: 1px #000 solid;
    border-radius: 15px;
}
#reserve {
    float: none;
}
input[type="submit"] {
    margin: 20px;
    background-color: rgb(219, 101, 101);
    text-transform: uppercase;
    font-weight: bold;
}
form div {
    margin-bottom: 10px;
}
form p {
    margin-bottom: 0.5rem;
}

/***********************************************************************/
/* FOOTER */
/***********************************************************************/

footer a {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
}

/***********************************************************************/
/* RESPONSIVE */
/***********************************************************************/

/***********************************************************************/

@media all and (max-width: 1200px) {
    main {
        padding: 50px 20px;
    }
}

/***********************************************************************/

@media all and (min-width: 831px) {
    main article:nth-child(3n) {
        margin-right: 0;
    }
}

/***********************************************************************/

@media all and (max-width: 830px) {
    
    header {
        padding-bottom: 0;
    }
    header > nav > ul > li {
        float: none;
        text-align: center;
        height: 35px;
    }
    header > nav > ul {
        padding-inline-start: 0;
        margin-top: 20px;
    }
    header > nav > ul > li > a {
        margin-left: 0;
    }
    header img {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    header nav {
        float: none;
    }
    header > nav > ul li:hover ul {
        display: none;
    }
    main article {
        width: 49%;
    }
    main article:nth-child(2n) {
        margin-right: 0;
    }
    .main_banner {
        margin-top: 350px;
    }
}

/***********************************************************************/

@media all and (max-width: 520px) {
   
    header {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px 0;
        background-color: rgb(219, 101, 101);
        z-index: 1;
    }
    main {
        padding: 0 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    main article {
        width: 100%;
        margin-right: 0;
    }
    header nav {
        position: static;
        margin-top: 15px;
    }
    .main_banner {
        margin-top: 30px;
    }
    form div label {
        float: none;
    }
}